<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Events</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav">All your events</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                <li><a href="{{ url_for('user.get_all_birthdays') }}">All birthdays</a></li>
                <li><a href="{{ url_for('user.get_all_meetings') }}">All meetings</a></li>
                <li><a href="{{ url_for('user.get_all_reminders') }}">All reminders</a></li>
                <li><a href="{{ url_for('user.event') }}">Add new event</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
<!--    {% block body %}-->
<!--    -->
<!--    {% endblock %}-->
    <div class="push"></div>
    <div class="container">
        <h1 class="header center orange-text">{{ header }}</h1>
        <h4 class="center light-blue-text">{{ sub_header }}</h4>
        <ul class="collection with-header">
            {% if events|length > 0 %}
            <span>There are {{events|length}} events</span>
            {% for event in events %}
            <li class="collection-item"><a href="#">Event</a></li>
            <p2> Title = {{ event.title }}</p2>
            <br>
            <p2> Description = {{ event.description }}</p2>
            <br>
            <p2> Event date = {{event.date_of_event}}</p2>
            <br>
            <p2> Event type = {{event.type.value}}</p2>
            <br>
            <br>
            {% endfor %}
            {% else %}
            <p3>There are no events</p3>
            {% endif %}
        </ul>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted small">Copyright &copy; 2022. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>